.navbar-brand img{
    width: 220px;
}

.navbar-brand{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

.navbar-nav{
    padding-top: 50px;
}

.navbar{
    min-height: 150px;
    border-bottom: 1px solid lightgray;
    position: sticky;
    box-shadow: 5px 5px 5px lightgray;
}

.nav-item{
    padding: 40px;
    padding-bottom: 0px;
}

.home-header img{
    padding-top: 25px;
    background-position: center;
    background-size: cover;
}

#section1{
    text-align: center;
    background-color: rgba(223, 217, 217, 0.829);
    padding-bottom: 4%;
}

#section1 p{
    font-size: 25px;
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
}

#section1 h1{
    padding-top: 30px;
    color: brown;
}

#section2{
    text-align: center;
    padding-top: 4%;
}

#section3{
    padding-top: 5%;
    text-align: center;
    padding-bottom: 4%;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: inset;
}

#section5{
    padding-top: 3%;
    padding-left: 7%;
    padding-bottom: 3%;
}

#section5 h1{
    text-align: center;
    padding-bottom: 3%;
    color: brown;
}

.card{
    border: 1px solid gray;
    box-shadow: 0 4px 8px 0 lightgrey, 0 6px 20px 0 lightgrey;

}

#section6{
    text-align: center;
    padding-bottom: 4%;
    background-color: antiquewhite;
    padding-top: 4%;
}

#section6 h1{
    padding-bottom: 2%;
}

#internship{
    background-color: transparent;
    height: 80px;
    width: 150px;
    margin: auto;
    font-size: 1.0em;
    border-radius: 25px;
    border-color: brown;
    color: brown;
}

#internship:hover{
    background-color: black;
    color: white;
}

#section7{
    padding-top: 4%;
    padding-bottom: -1%;
    background-color: rgb(223, 223, 223);
}

.contact{
    text-align: center;
}

.contact p{
  padding-top: 1%;
}

.form-group{
    padding-top: 4%;
}

.form-control{
    border: 1px solid black;
    border-radius: 0%;
    box-shadow:  0 4px 8px 0 lightgrey, 0 6px 20px 0 lightgrey;
}


#section8{
    text-align: center;
    padding-top: -4%;
    padding-bottom: 4%;
    background-color:  rgb(223, 223, 223);
}

#sm{
    width: 150px;
    height: 35px;
    margin: auto;
    border: none;
    background-color: black;
    color: white;
}

#icon{
    list-style-type: none;
    
}

#icon li{
    display: inline-block;
    
    padding-right: 1%;
}

#icon li a{
    font-size: 30px;
}

#footer{
    padding-top: 5%;
    background-color: rgb(114, 111, 111);
    padding-bottom: 10%;
    
}

#footer p{
    text-align: right;
    padding-right: 20%;
    padding-top: 0%;
    color: white;
}

#footer img{
    padding-left: 20%;
}

#icon2{
    list-style-type: none;
    text-align: right;
    padding-right: 20%;
    padding-bottom: 0%;
}

#icon2 li{
    display: inline-block;
    
    padding-right: 2%;

    
}

#icon2 li a{
    font-size: 30px;
}

#section4{
    background-color: darkgray;
}

#section4a{
    padding-top: 5%;
    background-color: darkgray;
    padding-bottom: 0%;
}

#images{
    list-style: none;
    text-align: center;
}

#images li{
    display: inline-block;
    padding-right: 6%;
    padding-left: 2%;
    padding-bottom: 0%;
}

#images li i{
    font-size: 120px;

}

#section4b{
    background-color: darkgray;
    padding-top: 0%;
    padding-left: 4%;
}

#icontxt{
    list-style: none;
    text-align: center;
    padding: 3%;
    margin: 0;
}

#icontxt li{
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    padding-right: 6%;
    padding-left: 2%;
}